@page
@functions
{
    public string? DayName {get; set;}
    public void OnGet(){
        ViewData["Title"] = "MCC";
        DayName = DateTime.Now.ToLongDateString();    
    }
}

<html>
<head>
    <title>My aspwebcore</title>
</head>
<body>
    <header>
        <h1>Hi!</h1>
    </header>
    <main>
        <p>It's @DayName!</p>
    </main>
    <footer>
        <p>Anyway...</p>
        <p>@ViewData["Title"]</p>
    </footer>
</body>
</html>